[core]
	autocrlf = false

  # Taken from so-fancy/diff-so-fancy
	# https://github.com/so-fancy/diff-so-fancy
	# Transforms diffs so they're readable.
  pager = "diff-so-fancy | less --tabs=2 -RFX"


	# Taken from janmoesen/tilde
	# Enable parallel I/O for operations like "git diff".
	# See http://stackoverflow.com/q/18257622/276478
	preloadindex = true

	# Taken from janmoesen/tilde
	# Use 12 characters for the abbreviated commit hash. I can currently make
	# do with 10, but this should provide a certain level of safety for the
	# near-ish future. See the interesting and well-researched article at
	# http://blog.cuviper.com/2013/11/10/how-short-can-git-abbreviate/
	abbrev = 12

[user]
	name = nate-wilkins
	email = nate-wilkins@code-null.com
	signingkey = AAA34B2FC4B660C6

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[alias]
	s = status -s
  ri = rebase -i
	mff = merge --ff-only
  cs = commit --squash
  cf = commit --fixup
	amendm = commit --amend
	amend = commit --ammend --no-edit
	lgo= log --graph --oneline
	lgs= log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''  %C(green)%G?%C(reset) %C(dim white)%an <%ae> %C(reset)%n  %C(green)%GS%C(reset)%n  %C(white)%s%C(reset)' --all
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''  %C(green)%G?%C(reset) %C(dim white)%an <%ae> %C(reset)%n  %C(white)%s%C(reset)' --all
  aa = add .
  fa = fetch --all
  dh1 = diff HEAD~1
  # update all submodules
  subs = submodule foreach git pull origin master
  # clean up fully merged branches
	sweep = !git-sweep
	# provide encryption for repositories
	crypt = !git-crypt
  # list only untracked files
	untracked = ls-files --others --exclude-standard
	# opens a github pr - pretty awesome.
	pr = open-pr

[github]
	user = nate-wilkins

[commit]
	gpgsign = true

[push]
	# only push current branch
	default = upstream

[merge]
	log = true
	conflictstyle = diff3
	tool = vimdiff

[rebase]
	autosquash = true
	autostash = true

[branch "master"]
	mergeoptions = --ff-only

[tag]
	sort = version:refname

[gitflow "branch"]
	master = master
	develop = develop

[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag =
